<html>
  <head>
      <title>Patrick: main</title>
  </head>
  <body>
      <h1 style="text-align:center"><%= title %></h1>
      <div style="text-align:center">
          Welcome to the fucking main page, USE FUCKING BOOTSTRAP YOU IDIOT
      </div>
  </body>
</html>
