<html>
  <head>
      <title>Patrick: users</title>
  </head>
  <body>
      <h1 style="text-align:center"><%= title %></h1>
      <div style="text-align:center">
          Welcome to the fucking users page
      </div>
  </body>
</html>
